        <header class="header">
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <!-- Notifications: style can be found in dropdown.less -->
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="">
                            <a href="/app/#add_expense" class="dropdown-toggle">
                                <span><i class="glyphicon glyphicon-credit-card"></i><small></small><span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/app/#create_expense_book" class="dropdown-toggle">
                                <span><i class="glyphicon glyphicon-book"></i></span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/app/#add_person" class="dropdown-toggle">
                                <span><i class="glyphicon glyphicon-user"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>


