<section class="content-header">
    <h1>
        All Expenses
    </h1>
    <ol class="breadcrumb">
        <li><a href="/app/#/"><i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li>Expenses</li>
        <li class="active">All Expenses</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Expenses</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered" id="js-expense-row">
                        <tr>
                            <th>Expense Type</th>
                            <th>Expense Name</th>
                            <th>Paid By</th>
                            <th>Shared with</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
